* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://www.wallpapergap.com/cdn/24/257/tropical-island-paradise-wallpaper-4800x2751.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.container {
  width: 600px;
  height: 300px;
  position: absolute;
  right: 40px;
  bottom: 80px;
  display: flex;
}
.green {
  position: absolute;
  background-color: #a5b156;
  width: 200px;
  left: 40px;
  height: 200px;
  top: -40px;
}
h1 {
  font-size: 80px;
  letter-spacing: 0.5;
}

.white {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 300px;

  z-index: 999;
  padding: 20px;
  box-shadow: 0px 15px 25px black;
}
@media screen and (max-width: 750px) {
  .green {
    left: 60px;
    height: 400px;
    width: 250px;
  }
  .container {
    width: 400px;
  }
  h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .green {
    top: -60px;
    width: 150px;
  }
  .container {
    width: 300px;
    height: 300px;
  }
}
