* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}
h1 {
  text-align: center;
  margin-block: 20px;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  color: black;
}
a:hover {
  color: white;
}

.box_container {
  width: 67vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}
img {
  width: 90%;
}
.box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  background-color: #f7eb2f;
  padding: 20px 5px;
}
.box_text {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 750px) {
  .box_container {
    width: 80vw;
    grid-template-columns: 1fr;
  }
  .box {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 450px) {
  .box_container {
    width: 85vw;
  }
  .box {
    padding: 10px 0px;
  }
}
