* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  text-transform: uppercase;
  color: black;
}
header {
   /* width: 880px; */
   max-width: 918px; 
   width: 100%;
   margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
}
.blue {
  width: 100%;
  height: 220px;
  background-color: blue;
}
.card_container {
  width: 100%;
  display: flex;

  gap: 20px;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -200px;
  padding: 0 20px;
  margin-bottom: -50px;
}
.row {
  max-width: 100%;
  display: flex;
  flex-shrink: 1;
  gap: 20px;
}
.card {
  flex: 0 1 200px;
  gap: 10px;
  height: 300px;
  display: flex;
  flex-shrink: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 4px black;
}
/* .card1 {
  top: -70px;
  
}
.card2 {
  top: 20px;
 
}
.card3 {
  top: 70px;
 
}
.card4 {
  top: 20px;
 
} */
.card1 {
  transform: translateY(100px);
}
.card2 {
  transform: translateY(40px);
}
.card3 {
  transform: translateY(100px);
}
.card4 {
  transform: translateY(40px);
}

img {
  width: 50px;
  height: 50px;
}

.second {
  padding: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
h1 {
  color: rgb(60, 60, 232);
  max-width: 300px;
}
.second div {
  max-width: 400px;
}
button:hover {
  background-color: blue;
}
.second button {
  margin-top: 20px;
  background-color: rgb(60, 60, 232);
  text-transform: uppercase;
  color: white;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 10px;
}

@media screen and (max-width: 936px){
 header {
  width: 100%;
 max-width: 918px;
}
} 

@media screen and (max-width: 750px) {
  .second {
    padding: 20px 20px 20px 20px;
    gap: 10px;
  }

header {
  width:85%;
}
  
  h1 {
    font-size: 20px;
  }
  .card_container {
    flex-direction: column;
  }
  .row {
    bottom: -220px;
  }
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 450px) {
  .card_container {
    padding: 10px 50px 10px 50px;
  }
   header {
  min-width: 100%;
   padding: 0px 50px 0px 50px;
  
}
  .card_container,
  .row {
    flex-direction: column;
    gap: 10px;
    top: 0;
  }
  .row {
    bottom: -320px;
  }
  .card_container {
    position: relative;
    padding-top: 10px;
    top: -200px;
    margin-bottom: -150px;
  }
  .card {
    transform: none;

    flex: 0 1 200px;
  }
  .card4 {
    top: 0px;
  }
  .second {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .second h1 {
    font-size: 40px;
  }
}
